<div id="user_posts">
	<% @posts.each do |post| %>
		<h3> <%= post.title %> </h3>
		<a href="<%= post.title %>">Click for full Post</a>
	<% end %>
</div>

<div id="posts_wrapper">
	<form action="/feed" method="POST">
		<label>New Post: </label><br>
		<input type="text" name="post[title]"><br>
		<textarea rows="10" cols="65" name="post[content]"></textarea><br>
		<input type="submit" name="submit">
	</form>
</div>


