<div class="jumbotron">
  <h1 class="display-3">Hello, Fellow Boaters!</h1>
  <p class="lead">This blog is for you an fellow ship Captains and lovers accross the world!</p>
  <hr class="my-4">
  <p>Please post about your best practices, favorite places around the world, funny stories and anything else ship related you can think of.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
