<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Boat Enthusiasts</title>
	<!-- JQuery -->
	<script src="js/teather.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- Our CSS -->
	<link rel="stylesheet" href="css/index.css">
	<!-- Our JS -->
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="/">Boats 'N Stuff</a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
		
		<% if @user %>
			<% puts "I'M HERE HERE HERE HERE HERE HERE HERE OKAY????" %>
		    <li class="nav-item">
		        <a class="nav-link" href="/feed">Feed</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="/profile">Profile</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="/logout">Log Out</a>
		    </li>
		<% else %>
			<% puts "I'm not here :(" %>
		<% end %>

	    </ul>
	    <% if @user %>
		    <span class="navbar-text">
	          Welcome Back, <%= @user.first_name %>
	        </span>
	    <% end %>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	<% if flash[:notice] %>
		<div class="flash notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="flash alert">
			<%= flash[:alert] %>
		</div>
	<% end %>
	<%= yield %>
</body>
</html>