<div id="post_username">
	<h5> This post was written by <%= @poster.first_name %> </h5>
</div>

<div id="post_title">
	<h3> <%= @post.title %> </h3>
</div>

<div id="post_content">
	<p> <%= @post.content %> </p>
</div>

<h5>Comments:</h5>
<div post_comments>

</div>