<div id="body-container">
    <div class="row">
      <div class="left col-9">
        <div>
            <h1>My heading</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex praesentium distinctio placeat reprehenderit nam, ipsam reiciendis ipsa deleniti quibusdam! Eligendi enim impedit vero rem adipisci totam ut explicabo vitae possimus.
            </p>
            <p>
                Lorem ipsum dolor sisdf asdgasdfasdf adsfasdf adsn;asldkgj a;sldkgj a;sdlkfn a;lsdkn a;sdlt amet, consectetur adipisicing elit. A nesciunt velit repellat iure, quo. Aliquid id at, quisquam pariatur autem dignissimos tenetur culpa quia. Excepturi delectus, ipsam! Natus, suscipit in.
            </p>
        </div>
      </div>
      <div class="right col-3">
        <p>Posts: 44</p>
        <p>Comments: 59</p>
        <p>Friends: none</p>
      </div>
    </div>
</div>