<div class="body-container">
	<div id="username">
		<h3 class="display-3"><%= @inspect_user.first_name %>'s Feed</h3 class="display-3">
	</div>

	<% @inspect_user.posts.each do |post| %>
		<div class="title">
			<a href="/post/<%= post.id %>"><h4 class="display-5"><%= post.title %></h4></a>
		</div>

		<div class="content">
			<p><%= post.content %></p>
		</div>
	<% end %>
</div>