html, body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.navbar {
    box-shadow: 0px 2px 3px lightgreen;
}

.jumbotron {
	margin-bottom: 0px;
    background-image: url(/images/pic1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#login_container {
	text-align: center;
	height: 350px;
}

#login_centerwrapper {
	margin: auto;
	display: flex;
	justify-content: center;
}

#new_user_creation {
	display: inline-block;
	float: left;
	height: 305px;
	width: 350px;
	background-color: orange;
	border: solid black;
	margin: 75px;
}

#returning_user_signin {
	display: inline-block;
	float: left;
	height: 305px;
	width: 350px;
	background-color: orange;
	float: left;
	border: solid black;
	margin: 75px;
    color: white;
} 

#body-container{
    margin: auto;
    max-width: 1000px;
    padding-top: 40px;
}

.left {
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
/*    max-width: 800px;*/
}

.right {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.display-4 {
    margin-bottom: 50px;
}

.navbar-text {
    margin-right: 30px;
}

.list-group {
    opacity: .85;
    float: right;
    border-radius: 5px;
    min-width: 215px;
}
